[Unit]
Description=Deluge Web UI
After=deluged.service

[Service]
ExecStart=/usr/bin/deluge-web --ssl -c /var/lib/deluged/config

[Install]
WantedBy=default.target
